<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"
	data-layout-decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Spring Boot ThymeLeaf Angular4 Kotlin</title>
</head>
<body>
	<div data-layout-fragment="content" class="container">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3>Greetings From ThymeLeaf</h3>

			</div>
			<div class="panel-body bg-info">
				
				<div>
					<app-root>Loading...</app-root>
				</div>
				
				
				
			</div>
		</div>
	</div>
</body>
</html>